* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    text-align: center;
    display: block;
    background-color:#49485F; 
    z-index: 99999;
}

.logo {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    animation: carousel 20s infinite linear;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes carousel {
    0%, 5%, 25% { 
        transform: translateX(0);
        opacity: 1;
    }
    33.33%, 38.33%, 58.33% {
        transform: translateX(-100%);
        opacity: 1;
    }
    66.66%, 71.66%, 91.66% {
        transform: translateX(-200%);
        opacity: 1;
    }
    100% {
        transform: translateX(-200%);
        opacity: 1;
    }
}

.slide img {
    max-width: 100%;
    height: auto;
}


.slide:nth-child(1) {
    animation: fadeAnimation 9s infinite; 
}

.slide:nth-child(2) {
    animation: fadeAnimation 9s infinite 3s; 
}

.slide:nth-child(3) {
    animation: fadeAnimation 9s infinite 6s; 
}

@keyframes carousel {
    0% { transform: translateX(0); }
    100% { transform: translateX(-200%); }
}

@keyframes fadeAnimation {
    0%, 100% { opacity: 0; }
    25%, 100% { opacity: 1; } 
}

.content-cards {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
}

.content-card {
    padding: 8px;
    flex-basis: calc(50% - 40px);
    height: 300px;
    width: auto;
    background-color: #eee;
    border-radius: 25px; 
    transition: all .2s ease-in-out; 
    margin-bottom: 40px;
    
}

.content-card:hover {    
    transform: scale(1.05); 
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #49485F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

footer a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.footer-text {
    color: white;
}
